# Node
/node_modules
npm-debug.log
yarn-error.log

# Assets
src/assets
src/.well-known
src/app-ads.txt
src/apple-app-site-association.txt
src/robots.txt
src/sitemap.xml
.dockerignore
.editorconfig
.gitignore
.gitlab-ci.yml
.stylelintrc
.prettierignore
config.nginx
Dockerfile
README.md
tsconfig.json
src/tsconfig.app.json
src/tsconfig.spec.json
src/typings.d.ts


# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
