:host {
  width: 80%;
  height: 80%;

  .mat-mdc-card {
    padding: 30px 15px 10px;
  }

  .mat-mdc-card-header {
    display: flex;
    justify-content: space-between;
    margin: 10px 40px 40px;

    &::ng-deep .mat-mdc-card-header-text{
      display: none;
    }
  }

  .total-profit-and-loss {
    color: var(--mdc-outlined-text-field-input-text-color);



    &--empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px;
      font-size: 28px;
      font-weight: 500;
      text-align: center;
      color: var(--mdc-outlined-text-field-input-text-color);

      .mat-icon {
        transform: scale(4);
        margin-bottom: 50px;
      }
    }
  }

  @media screen and (max-width: 991px) {
    width: 95%;
    height: 90%;

    .mat-mdc-card {
      padding: 15px 15px 10px;
    }

    .mat-mdc-card-header {
      margin: 10px 30px 20px;
    }
  }

  @media screen and (max-width: 599px) {
    .mat-mdc-card-header {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .mat-mdc-card {
      padding: 10px;
    }

    .total-profit-and-loss {
      margin-bottom: 20px;
    }
  }
}

