:host {
  width: 80%;
  height: 80%;

  .mat-mdc-card {
    padding: 30px 15px 10px;
  }

  .mat-mdc-card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .total-profit-and-loss {
    color: var(--mdc-outlined-text-field-input-text-color);
  }

  @media screen and (max-width: 991px) {
    width: 95%;
    height: 90%;

    .mat-mdc-card {
      padding: 15px 15px 10px;
    }

    .mat-mdc-card-header {
      margin-bottom: 20px;
    }
  }
}

