.app {
  &__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--mat-app-background-color);
  }

  &__main {
    margin: 50px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 1 0 0;
  }
}
