@use '@angular/material' as mat;

@include mat.core();

$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$teal-palette, 800),
    accent: mat.define-palette(mat.$blue-grey-palette, 100),
    warn: mat.define-palette(mat.$red-palette),
  ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));


@include mat.all-component-themes($dark-theme);
@include mat.core-color($dark-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.alert-snackbar {
  --mdc-snackbar-container-color: #F04832;
  --mdc-snackbar-supporting-text-color: var(--mdc-outlined-text-field-input-text-color);
  --mat-snack-bar-button-color: var(--mdc-outlined-text-field-input-text-color);
  --mat-text-button-state-layer-color: var(--mdc-outlined-text-field-input-text-color);
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes exit {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.6);
  }
}
